In [78]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import inventorize as inv
import matplotlib.pyplot as plt

In [79]:
#not able to upload using github...any ideas?
merelide=pd.read_excel(r'C:\Users\user\Desktop\LEAD\products_testing.xlsx')

In [80]:
merelide.sample(3)

,DATE,Month,Year,Month_Year,INVOICE_NUMBER,SKU_CODE,SKU_Description,QUANTITY,PRICE,VALUE,COST
30,2017-07-07,Jul,2017,Jul2017,102939843,10000000058291,Merelide 50/mcg 20doses,17,145,2465,13
25,2017-06-27,Jun,2017,Jun2017,103992831,10000000058291,Merelide 50/mcg 20doses,23,145,3335,13
52,2019-11-02,Nov,2019,Nov2019,102999302,10000000058291,Merelide 50/mcg 20doses,1,152,152,13

In [81]:
merelide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             60 non-null     datetime64[ns]
 1   Month            60 non-null     object
 2   Year             60 non-null     int64
 3   Month_Year       60 non-null     object
 4   INVOICE_NUMBER   60 non-null     int64
 5   SKU_CODE         60 non-null     int64
 6   SKU_Description  60 non-null     object
 7   QUANTITY         60 non-null     int64
 8   PRICE            60 non-null     int64
 9   VALUE            60 non-null     int64
 10  COST             60 non-null     int64
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 5.3+ KB

In [82]:
merelide['DATE']=pd.to_datetime(merelide['DATE'])

In [83]:
merelide['year']=merelide['DATE'].dt.year

In [84]:
merelide['month']=merelide['DATE'].dt.month

In [85]:
merelide['monthyear']=merelide['Month_Year']

In [86]:
yearly_sales= merelide.groupby(['SKU_Description', 'monthyear']).agg(total_sales=
                                                                     ('QUANTITY','sum'),
                                                                    price=('PRICE', 'mean')).reset_index()